@use "../abstracts/breakpoints" as *;
#about-content {
	@include media-3 {
		display: flex;
	}
	#about-content-container {
		@include media-3 {
			flex: 0 0 65%;
		}
		p {
			border-bottom: solid 1px var(--color-surface-4);
			padding-bottom: 20px;
		}
	}
	.about-model {
		width: 100%;
		model-viewer {
			height: 100%;
			width: 100%;
		}
	}
}
.tech-icons {
	display: flex;
	.tech-icon {
		margin-left: 6px;
		max-width: 26px;
		max-height: 26px;
	}
}
.info.mb-4 {
	display: flex;
}
