@use "../abstracts/breakpoints" as *;
.contact-columns {
	// Contact Column 1 - Form
	.contact-column-1 {
		@include media-3 {
			flex: 0 0 75%;
		}
		@include media-5 {
			flex: 100%;
			padding: 0;
		}
	}
	// Contact Column 2 - Menus
	.contact-column-2 {
		@include media-3 {
			width: 100%;
			display: flex;
			flex: 0 0 25%;
			flex-direction: column;
			justify-content: space-between;
		}
		@include media-5 {
			display: none;
		}
	}
}
