@use "../abstracts/breakpoints" as *;
#portfolio #home {
	align-items: center;
	display: grid;
	height: 100vh;
	text-align: center;
	.home-mouse {
		bottom: 10px;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		width: 29px;
		.arrow-down {
			display: grid;
			place-items: center;
			@include media-4 {
				display: none;
			}
			img {
				height: 20px;
				width: 20px;
				filter: var(--filter-color-primary);
				&:hover,
				&:focus {
					filter: var(--filter-color-tertiary);
				}
			}
		}
		.mouse-shape {
			display: none;
			@include media-4 {
				display: block;
			}
		}
		@include media-4 {
			padding-left: 250px;
		}
	}
	@include media-4 {
		margin-right: 0;
	}
	@include media-6 {
		height: 824px;
	}
}
