@use "../abstracts/breakpoints" as *;
@use "../base/theme" as *;
@use "../base/library" as *;
.project-container {
	justify-content: space-between;
	margin-bottom: 60px;
	.card-body {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	&:last-of-type {
		margin-bottom: 0;
	}
	.btn-group {
		.btn {
			padding: 8px;
			&:first-of-type {
				margin-right: 10px;
			}
			i {
				//font-size: ;
				display: grid;
				place-items: center;
			}
			span {
				display: none;
			}
			@include media-1 {
				padding: 8px 12px;
				width: 80px;
				span {
					display: block;
				}
				i {
					display: none;
				}
			}
		}
	}
	@include media-2 {
		display: flex;
		margin-bottom: 25px;
		.project-img {
			margin-bottom: 0;
			width: 43%;
		}
		.card {
			margin-bottom: 0;
			width: 54%;
		}
	}
}
.project-title {
	font-size: 20px;
	font-weight: bold;
}
.project-img {
	margin-bottom: 20px;
	img {
		border: $border;
		border-radius: $border-radius;
		display: block;
		width: 100%;
	}
}
.card-footer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}
.built-with {
	color: $gray-500;
	display: grid;
	flex-wrap: wrap;
	font-size: small;
	place-items: center;
	ul {
		display: flex;
		flex-wrap: wrap;
		li {
			padding: 0 2px;
		}
	}
}
