@use "../abstracts/breakpoints" as *;
// ===== Project Container ===== //
.project-container {
	justify-content: space-between;
	padding-bottom: 0.5rem;
	margin-top: 1rem;
	@include media-3 {
		flex-direction: row;
	}
	.row {
		@include media-3 {
			display: flex;
			justify-content: space-between;
		}
	}
	.col {
		display: flex;
		@include media-3 {
			width: 58%;
			&:nth-of-type(2) {
				width: 40%;
			}
		}
		.project-header {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin-bottom: 1rem;
			.project-titles {
				text-align: center;
				h3 {
					color: var(--primary);
				}
			}
		}
		.description {
			margin-bottom: 1rem;
		}
		.project-image {
			img {
				width: 100%;
				margin-bottom: 0.5rem;
				@include media-3 {
					margin: 0;
				}
			}
		}
		// ===== Rows ===== //
		.container {
			&:last-of-type {
				align-items: end;
				margin-bottom: 0.75rem;
				margin-top: auto;
			}
			ul {
				list-style: decimal;
				margin-left: 2rem;
			}
		}
	}
	.technology-container {
		display: flex;
		justify-content: space-between;
		.technology-icons {
			border-left: solid 0.3rem var(--tertiary);
			padding-left: 0.75rem;
			margin-left: 0.2rem;
			display: flex;
			align-items: center;
			i {
				margin: 0 0.25rem;
			}
		}
		.btn-group {
			margin-right: 0.2rem;
			i {
				font-size: 1.6rem;
			}
		}
	}
}
// ===== See More ===== //
.see-more {
	text-align: right;
	#see-more-links {
		margin-left: auto;
	}
	#see-more-span {
		margin: auto 0.75rem;
	}
	#see-more-links,
	#see-more-span {
		.see-more-link {
			align-items: center;
			display: inline-flex;
			padding: 0.75rem 0;
			i {
				margin-right: 0.5rem;
			}
		}
	}
}
