@use "../abstracts/breakpoints" as *;
// ===== Project Container ===== //
.projects-container {
	button {
		img {
			box-shadow: var(--shadow);
		}
		&:hover,
		&:focus {
			img {
				outline: 2px solid var(--color-link);
			}
		}
	}
	img {
		border-radius: 12px;
		height: calc(98% - 4px);
		margin-top: 2px;
		width: calc(100% - 4px);
	}
}
.project-container {
	.project-image {
		margin-bottom: 15px;
		img {
			height: 98%;
			width: 100%;
		}
	}
	.project-titles,
	.description {
		margin-bottom: 15px;
		text-align: center;
	}
	.technology-icons {
		align-items: center;
		display: flex;
		justify-content: center;
		margin-bottom: 15px;
		.tech-icon {
			margin: 0 3px;
			max-width: 26px;
			max-height: 26px;
		}
		.special {
			margin: 0;
			max-width: 52px;
		}
	}
	.btn-group {
		justify-content: center;
	}
}
