@use "../abstracts/breakpoints" as *;
#thanks #site-container {
	display: grid;
	place-items: center;
	height: 100vh;
}
.main {
	background-image: url(../img/ash-blue-thanks.png);
	background-position: bottom 50px center;
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	flex-direction: column;
	height: 300px;
	justify-content: space-between;
	@include media-2 {
		background-position: bottom 100px center;
		background-size: 60%;
		background-color: var(--color-secondary);
		border-radius: 12px;
		box-shadow: var(--shadow);
		height: 425px;
		padding: 50px;
	}
	div {
		display: grid;
		place-items: center;
		span {
			align-items: baseline;
			display: flex;
			h1 {
				margin-right: 5px;
				@include media-2 {
					margin-right: 10px;
				}
			}
		}
		a {
			align-items: baseline;
			background-color: var(--color-secondary-surface);
			border: 2px solid var(--color-primary);
			border-radius: 8px;
			display: flex;
			font-size: 20px;
			padding: 10px 25px;
			&:focus {
				border-color: var(--color-tertiary);
			}
			span {
				margin: 0 5px;
			}
		}
	}
}
