@use "../abstracts/breakpoints" as bp;
#home {
	align-items: center;
	display: grid;
	height: 100vh;
	text-align: center;
	.home-mouse {
		bottom: 1rem;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		width: 29px;
		.arrow-down {
			display: grid;
			place-items: center;
			@include bp.ss-4 {
				display: none;
			}
			img {
				height: 2rem;
				width: 2rem;
				filter: var(--filter);
				&:hover,
				&:focus {
					filter: var(--filter-link);
				}
			}
		}
		.mouse-shape {
			display: none;
			@include bp.ss-4 {
				box-sizing: content-box;
				display: block;
				height: 28px;
				margin: 0 auto;
				padding: 5px 11px;
				width: 3px;
				background-color: rgba(0, 0, 0, 0.5);
				border-radius: 25px;
				opacity: 0.8;
				.mouse-wheel {
					height: 1rem;
					width: 0.3rem;
					background-color: var(--solid);
					border-radius: 25%;
				}
			}
		}
		@include bp.ss-4 {
			padding-left: 25rem;
		}
	}
	@include bp.ss-4 {
		margin-right: 0;
	}
	@include bp.ss-6 {
		height: 824px;
	}
}
