@use "../abstracts/breakpoints" as bp;
footer {
	line-height: 1.2;
	padding: 1.5rem;
	position: relative;
	text-align: center;
	background-color: var(--bg);
	.footer-container {
		display: flex;
		flex-direction: column;
		.seperator {
			display: none;
			@include bp.ss-2 {
				display: block;
			}
		}
		#designed {
			display: flex;
			flex-direction: column;
			@include bp.ss-1 {
				flex-direction: row;
			}
		}
		@include bp.ss-2 {
			flex-direction: row;
			justify-content: center;
		}
	}
	.back-to-top {
		position: relative;
		#myBtn {
			bottom: 1.6rem;
			height: 2.5rem;
			position: absolute;
			right: 0;
			width: 2.5rem;
			&:hover {
				.icon {
					filter: var(--filter-link);
				}
			}
			@include bp.ss-1 {
				bottom: 0.6rem;
			}
			@include bp.ss-2 {
				right: 0;
				bottom: -0.5rem;
			}
		}
	}
	@include bp.ss-1 {
		text-align: left;
	}
	@include bp.ss-4 {
		margin-left: 25rem;
	}
	@include bp.ss-5 {
		margin-right: 25rem;
	}
}
