@use "../abstracts/breakpoints" as bp;
.btn {
	background-color: var(--tertiary);
	border-radius: 9rem;
	box-shadow: var(--shadow);
	padding: 0.75rem;
	text-align: center;
	width: 50%;
	color: var(--secondary);
	&:hover {
		box-shadow: var(--shadow-hover);
	}
	&:active {
		box-shadow: var(--pressed);
	}
	&:nth-of-type(2) {
		margin-left: 1rem;
		background-color: var(--surface);
		color: var(--primary);
	}
}
@include bp.ss-5 {
	.back-to-top {
		display: none;
	}
}
