@use "../abstracts/breakpoints" as *;
@use "../base/library" as *;
@use "../base/theme" as *;
form {
	position: relative;
	.input-container {
		position: relative;
	}
	.button-container {
		width: calc(100% - 3px);
		.btn {
			width: 48%;
		}
	}
	input {
		position: relative;
	}
	label {
		color: $dim-gray;
		font-style: italic;
		left: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		transition: ease 0.25s;
	}
	input,
	label,
	textarea {
		padding: 8px 12px;
	}
	input,
	textarea {
		border: $border;
		border-radius: $border-radius;
		margin-bottom: 25px;
		width: 100%;
		&:focus,
		&:valid {
			~ label {
				color: $black;
				font-style: normal;
				font-weight: 600;
				left: 0;
				top: -28px;
				transition: ease 0.25s;
			}
		}
	}
}
