@use "../abstracts/breakpoints" as *;
form {
	padding: 20px 20px 25px;
	margin: 10px 0 15px;
	background-color: var(--color-surface-4);
	border-radius: 12px;
	box-shadow: var(--shadow);
	.input-container {
		@include media-3 {
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;
			div {
				width: 48.5%;
			}
		}
	}
	label {
		font-weight: bold;
	}
	input[type="text"],
	input[type="email"],
	textarea {
		padding: 5px;
		width: 100%;
		background: var(--color-surface-2);
		border: 0;
		color: var(--color-primary);
		outline: 1px solid var(--color-surface-2);
		&:focus {
			outline: 2px solid var(--color-highlight);
		}
	}
	input[type="text"],
	input[type="email"] {
		margin: 6px 0;
		height: 30px;
	}
	textarea {
		margin: 10px 0 15px;
		resize: none;
		@include media-3 {
			height: 164px;
			margin: 5px 0;
		}
	}
	input[type="submit"] {
		justify-content: center;
		margin: 0 auto;
		border: 0;
		cursor: pointer;
		max-width: 245px;
		display: flex;
	}
	@include media-5 {
		margin-bottom: 0;
	}
}
