@use "../abstracts/breakpoints" as *;
form {
	padding: 2rem 2rem 2.5rem;
	margin: 1rem 0 1.5rem;
	background-color: var(--surface);
	border-radius: 1.2rem;
	box-shadow: var(--shadow);
	.input-container {
		@include media-3 {
			display: flex;
			justify-content: space-between;
			margin-bottom: 1rem;
			div {
				width: 48.5%;
			}
		}
	}
	label {
		font-weight: bold;
	}
	input[type="text"],
	input[type="email"],
	textarea {
		padding: 0.5rem;
		width: 100%;
		background: var(--bg);
		border: 0;
		color: var(--primary);
		outline: 1px solid var(--accent-alt);
	}
	input[type="text"],
	input[type="email"] {
		margin: 1rem 0;
	}
	textarea {
		margin: 1rem 0 1.5rem;
		resize: none;
		@include media-3 {
			height: 16.5rem;
			margin: 1rem 0;
		}
	}
	input[type="submit"] {
		justify-content: center;
		margin: 0 auto;
		border: 0;
		cursor: pointer;
		outline: 1px solid rgba(9, 30, 66, 0.1);
		max-width: 24.5rem;
	}
	@include media-5 {
		margin-bottom: 0;
	}
}
