header {
	padding: 20px;
	div {
		#avatar {
			margin-bottom: 20px;
			margin-top: 20px;
		}
		&:first-of-type {
			display: flex;
			justify-content: center;
		}
		&:last-of-type {
			h1 {
				text-align: center;
			}
			p {
				color: var(--color-primary-2);
			}
		}
		a {
			font-weight: 600;
			padding: 5px;
		}
	}
}
