@use "../abstracts/breakpoints" as *;
#navigation {
	height: 50px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

nav {
	ul {
		display: flex;
		flex-direction: column;
	}
}
#test {
	display: grid;
	place-items: center;
	z-index: 4;
	position: relative;
}
