@use "../abstracts/breakpoints" as *;
#portfolio {
	#navigation {
		height: 50px;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 2;
		background-color: var(--color-secondary);
		#logo {
			font-size: 20px;
			font-weight: bold;
			position: absolute;
			top: 10px;
			left: 15px;
			&:hover {
				color: var(--color-tertiary);
			}
		}
		@include media-4 {
			display: block;
			#logo {
				display: none;
			}
		}
		#menu-toggle {
			display: none;
			&:checked ~ #toggle {
				display: flex;
				flex-direction: column;
				overflow: scroll;
			}
		}
		#toggle {
			display: none;
			height: calc(100vh - 50px);
			background-color: var(--color-secondary);
			#nav-header {
				display: flex;
				flex-direction: column;
				text-align: center;
				#avatar {
					margin: 40px auto 15px;
				}
				#status {
					margin: 0 auto 8px;
					padding: 3px 0 10px;
					text-align: center;
					width: 160px;
					border-bottom: 1px solid var(--color-accent);
				}
			}
			nav {
				height: 100%;
				.nav-list {
					flex-direction: column;
					height: 100%;
					.nav-link {
						display: block;
						padding: 10px;
						margin: 0 auto;
						width: 160px;
						text-align: center;
					}
					.menu-footer {
						align-items: baseline;
						justify-content: center;
						margin-top: auto;
						padding: 12px;
						span {
							padding-left: 5px;
						}
					}
				}
			}
		}
	}
	body#menu-toggle:checked {
		overflow: hidden;
	}
	#menu-toggle + label {
		display: block;
		height: 25px;
		margin: 12.5px 15px 12.5px auto;
		width: 25px;
		background-image: url(../img/icons/bars.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		filter: var(--filter-color-primary);
	}

	#menu-toggle + #menu-toggle-button:hover,
	#menu-toggle + label:hover {
		cursor: pointer;
		filter: var(--filter-color-tertiary);
	}
	#menu-toggle:checked + label {
		background-image: url(../img/icons/times.svg);
	}
	#nav-icon,
	#sidebar-avatar {
		font-family: "Noto Serif JP", serif;
	}

	input:checked + .slider-wrapper .theme-btn-slider {
		transform: translateX(15px);
	}
	@media (max-height: 549.99px) {
		#nav-header {
			display: none;
		}
	}
	@include media-4 {
		/* - Sidebar / Navbar */
		#navigation {
			height: 100vh;
			position: fixed;
			text-align: center;
			width: 256px;
			#menu-toggle + label {
				display: none;
			}
			#toggle {
				display: flex;
				flex-direction: column;
				height: 100%;
			}
		}
	}
	@include media-6 {
		#navigation {
			bottom: 0;
			height: 844px;
			margin-top: auto;
			margin-bottom: auto;
			padding: 10px 0;
			top: 0;
		}
	}
}
