@use "../abstracts/breakpoints" as *;
.sidebar {
	display: none;
	@include media-5 {
		align-items: center;
		background-color: var(--color-surface);
		display: flex;
		flex-direction: column;
		float: right;
		height: calc(100vh - 0px); /* this kinda sketchy */
		padding-top: 45px;
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		width: 256px;
		.sidebar-footer {
			display: flex;
			height: 100%;
			justify-content: center;
			#mySideBtn {
				align-items: center;
				display: flex;
				margin-top: auto;
				padding: 12px;
				&:hover {
					svg {
						fill: var(--color-primary);
					}
				}
			}
		}
	}
	@include media-6 {
		height: 824px;
	}
}
