@use "../abstracts/breakpoints" as *;
.sidebar {
	display: none;
	@include media-5 {
		display: flex;
		flex-direction: column;
		float: right;
		height: calc(100vh - 0px); /* this kinda sketchy */
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		width: 25rem;
		padding-top: 3rem;
		background-color: var(--secondary);
		align-items: center;

		.sidebar-footer {
			display: flex;
			justify-content: center;
			height: 100%;
			#mySideBtn {
				display: flex;
				align-items: center;
				margin-top: auto;
				padding: 1.5rem;
			}
		}
	}
	@include media-6 {
		height: 824px;
	}
}
