#avatar {
	background-image: url(../img/ash-happy.png);
	background-position: center;
	background-size: 123px;
	border: 5px solid var(--color-accent);
	border-radius: 50%;
	display: block;
	&.small {
		background-size: 100px;
		height: 100px;
		width: 100px;
	}
	&.large {
		background-size: 130px;
		height: 128px;
		width: 128px;
	}
	&:hover,
	&:focus {
		background-image: url(../img/ash-smile.png);
		border-color: var(--color-link);
	}
}
