@use "../abstracts/breakpoints" as *;
@use "../base/theme" as *;
@use "../base/library" as *;
.btn {
	background-color: $pink;
	border: $border;
	border-radius: 50px;
	box-shadow: 3px 3px 0 $dim-gray;
	display: grid;
	font-weight: bold;
	height: 33.8px;
	line-height: 1.125;
	padding: 8px 12px;
	place-items: center;
	pointer-events: auto;
	text-align: center;
	&:focus,
	&:hover {
		box-shadow: none;
		outline: none;
	}
	&:active {
		outline: 2px solid $pink;
	}
}
.disabled {
	background-color: $gray-100;
	color: $gray-500;
	pointer-events: none;
	&:focus,
	&:hover {
		box-shadow: none;
		outline: none;
	}
	&:active {
		outline: none;
	}
}
.btn-group {
	display: flex;
}
.btn-small {
	background-color: #fbb1c5;
	border: 2px solid #0a0a0a;
	border-radius: 50px;
	box-shadow: 2px 2px 0 dimgray;
	display: grid;
	font-size: small;
	font-weight: bold;
	padding: 4px 6px;
	place-items: center;
	&:focus,
	&:hover {
		box-shadow: none;
		outline: none;
	}
	&:active {
		outline: 2px solid $pink;
	}
	&:hover {
		cursor: pointer;
	}
}
