@use "../abstracts/breakpoints" as *;
<<<<<<< HEAD
@use "../base/theme" as *;
@use "../base/library" as *;
=======
>>>>>>> working
.btn {
	background-color: $pink;
	border: $border;
	border-radius: 50px;
	box-shadow: 2px 2px 0 $dim-gray;
	display: grid;
	font-weight: bold;
	height: 33.8px;
	line-height: 1.125;
	padding: 8px 12px;
	place-items: center;
	pointer-events: auto;
	text-align: center;
<<<<<<< HEAD
	cursor: pointer;
	&:focus,
=======
	width: 150px;
	color: var(--color-secondary);
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	i {
		color: var(--color-secondary);
	}
	@include media-2 {
		width: 200px;
	}
	span {
		margin-right: 6px;
	}
>>>>>>> working
	&:hover {
		box-shadow: none;
		outline: none;
	}
	&:active {
		outline: 2px solid $pink;
	}
}
<<<<<<< HEAD
.disabled {
	background-color: $gray-100;
	color: $gray-500;
	pointer-events: none;
	&:focus,
	&:hover {
		box-shadow: none;
		outline: none;
	}
	&:active {
		outline: none;
	}
}
.btn-group {
	display: flex;
}
.btn-small {
	background-color: #fbb1c5;
	border: 2px solid #0a0a0a;
	border-radius: 50px;
	box-shadow: 2px 2px 0 dimgray;
	display: grid;
	font-size: small;
	font-weight: bold;
	padding: 8px 10px;
	place-items: center;
	&:focus,
	&:hover {
		box-shadow: none;
		outline: none;
	}
	&:active {
		outline: 2px solid $pink;
	}
	&:hover {
		cursor: pointer;
	}
}
=======
.btn-group {
	display: flex;
	.btn.alt {
		margin-left: 10px;
		background-color: var(--color-secondary-surface);
		color: var(--color-primary);
		i {
			color: var(--color-primary);
		}
	}
}
@include media-5 {
	.back-to-top {
		display: none;
	}
}
>>>>>>> working
