@use "../abstracts/breakpoints" as *;
.btn-group {
	display: flex;
	.btn:first-of-type {
		i {
			color: var(--color-secondary);
		}
	}
	.btn:nth-of-type(2) {
		margin-left: 10px;
		background-color: var(--color-secondary-surface);
		color: var(--color-primary);
	}
}

.btn {
	background-color: var(--color-tertiary);
	border-radius: 90px;
	box-shadow: var(--shadow);
	padding: 8px;
	text-align: center;
	width: 50%;
	color: var(--color-secondary);
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	span {
		margin-right: 6px;
	}
	&:hover {
		box-shadow: var(--shadow-hover);
	}
	&:active {
		box-shadow: var(--pressed);
	}
}

@include media-5 {
	.back-to-top {
		display: none;
	}
}
button.btn {
	margin-left: 10px;
	background-color: var(--color-secondary-surface);
	color: var(--color-primary);
}
