.glide__container {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 10px 0 40px;
	.glide__track {
		margin: 0 auto;
		width: 80%;
	}
	@media (min-width: 767.99px) {
		.glide__track {
			width: 90%;
		}
		.glide__track.modal-track {
			width: 80%;
		}
	}
}
.glide__arrow {
	cursor: pointer;
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	&:focus {
		outline: none;
	}
	&:hover .arrow {
		filter: var(--filter-link);
	}
	i {
		font-size: 30px;
	}
}
.glide__arrow--left {
	padding: 10px 12px 10px 3px;
}
.glide__arrow--right {
	padding: 10px 3px 10px 12px;
	right: 0;
}
.glide__arrow--disabled {
	opacity: 0.33;
}
.glide__bullets {
	bottom: -25px;
	display: flex;
	left: 50%;
	list-style: none;
	position: absolute;
	transform: translateX(-50%);
	.glide__bullet {
		background-color: var(--color-secondary-surface);
		border: 2px solid transparent;
		border-radius: 50%;
		box-shadow: var(--shadow);
		cursor: pointer;
		height: 10px;
		line-height: 0;
		margin: 0 0.25em;
		padding: 0;
		width: 10px;
		&:focus {
			outline: none;
		}
		&:hover {
			background-color: var(--color-tertiary);
		}
	}
	.glide__bullet--active {
		background-color: var(--color-tertiary);
	}
}

.glide--dragging {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}
