@use "../abstracts/breakpoints" as *;
.hobby {
	display: grid;
	margin: 0 12px;
	place-items: center;
	padding: 8px;
	@include media-2 {
		margin: 4px 0;
	}
	img {
		width: 32px;
	}
	span {
		font-size: small;
	}
}
