@use "../base/library" as *;
@use "../base/theme" as *;
#map {
	height: 400px;
	width: 100%;
}
iframe {
	aspect-ratio: 1/1;
	border: $border;
	border-radius: $border-radius;
	height: 100%;
	width: 100%;
}
.mapouter {
	position: relative;
}
.gmap_canvas {
	background: none !important;
	overflow: hidden;
	&:focus {
		outline: none;
	}
}
