@use "../abstracts/breakpoints" as *;
.menu-container {
	@include media-3 {
		width: 100%;
	}
	#sup {
		margin-bottom: 0;
	}
	.contact-menu {
		display: flex;
		flex-wrap: wrap;
		margin-top: 10px;
		background-color: var(--color-secondary-surface);
		padding: 8px 12px;
		border-radius: 12px;
box-shadow: var(--shadow);
		@include media-1 {
			flex-wrap: nowrap;
		}
		li {
			width: 50%;
			@include media-1 {
				width: 100%;
			}
			@include media-3 {
				margin: 0 auto;
			}
			a {
				align-items: center;
				display: inline-flex;
				padding: 8px;
				width: 100%;
				@include media-1 {
					justify-content: center;
				}
				i {
					margin-right: 5px;
				}
			}
		}
	}
}
aside .menu-container {
	width: 200px;
	text-align: center;
	.sidebar-menu {
		li {
			width: 50%;
			@include media-1 {
				width: 100%;
				
			}
			@include media-3 {
				margin-bottom: 5px;
			}
			a {
				align-items: center;
				display: inline-flex;
				padding: 8px;
				width: 110px;
				i {
					margin-right: 5px;
				}
			}
		}
	}
}
