@use "../abstracts/breakpoints" as *;
.menu-container {
	@include media-3 {
		width: 100%;
	}
	#sup {
		margin-bottom: 0;
	}
	.contact-menu {
		display: flex;
		flex-wrap: wrap;
		margin-top: 1rem;
		background-color: var(--surface);
		padding: 0.75rem 1.25rem;
		@include media-1 {
			flex-wrap: nowrap;
		}
		li {
			width: 50%;
			@include media-1 {
				width: 100%;
			}
			@include media-3 {
				margin: 0 auto;
			}
			a {
				align-items: center;
				display: inline-flex;
				padding: 0.75rem;
				width: 100%;
				@include media-1 {
					justify-content: center;
				}
				i {
					margin-right: 0.5rem;
				}
			}
		}
	}
}
aside .menu-container {
	width: 20rem;
	text-align: center;
	.sidebar-menu {
		li {
			width: 50%;
			@include media-1 {
				width: 100%;
			}
			@include media-3 {
				margin: 0 auto;
			}
			a {
				align-items: center;
				display: inline-flex;
				padding: 0.75rem;
				width: 11rem;
				i {
					margin-right: 0.5rem;
				}
			}
		}
	}
}
