@use "../abstracts/breakpoints" as bp;
table {
	width: 100%;
	border-collapse: collapse;
	th {
		background-color: var(--color-accent);
		font-weight: normal;
	}
	.no-border {
		border-top: none;
	}
	th,
	td {
		padding: 0;
		border: 1px solid;
		padding: 8px;
		text-align: center;
	}
	td {
		width: 50%;
	}
}
