/* Fallback */
.dev-h {
	display: none;
}
/* Typewriter effect */
// formula
// y = amount of words, x = amout of letters, z = amout of spaces
// xy / z
@keyframes typing {
	0%,
	30% {
		content: "";
	}
	3%,
	29% {
		content: "d";
	}
	4%,
	28% {
		content: "de";
	}
	5%,
	27% {
		content: "dev";
	}
	6%,
	26% {
		content: "deve";
	}
	7%,
	25% {
		content: "devel";
	}
	8%,
	24% {
		content: "develo";
	}
	9%,
	23% {
		content: "develop";
	}
	10%,
	22% {
		content: "develope";
	}
	11%,
	21% {
		content: "developer";
	}

	34%,
	61% {
		content: "";
	}
	35%,
	60% {
		content: "w";
	}
	36%,
	59% {
		content: "wr";
	}
	37%,
	58% {
		content: "wri";
	}
	38%,
	57% {
		content: "writ";
	}
	39%,
	56% {
		content: "write";
	}
	40%,
	55% {
		content: "writer";
	}

	65%,
	97% {
		content: "";
	}
	67%,
	96% {
		content: "p";
	}
	68%,
	95% {
		content: "ph";
	}
	69%,
	94% {
		content: "phi";
	}
	70%,
	93% {
		content: "phil";
	}
	71%,
	92% {
		content: "philo";
	}
	72%,
	91% {
		content: "philos";
	}
	73%,
	90% {
		content: "philoso";
	}
	74%,
	89% {
		content: "philosop";
	}
	75%,
	88% {
		content: "philosoph";
	}
	76%,
	87% {
		content: "philosophe";
	}
	77%,
	86% {
		content: "philosopher";
	}
}
.typewriter {
	&:before {
		content: "";
		animation: typing 12s infinite;
	}
	&:after {
		content: "";
		animation: 0.5s linear infinite;
	}
}
/* Mouse scroll effect */
@-webkit-keyframes scrollDown {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(15px);
		-webkit-transform: translateY(15px);
	}
}
@keyframes scrollDown {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(15px);
		-webkit-transform: translateY(15px);
	}
}
/* Prefers-reduced-motion */
@media (prefers-reduced-motion) {
	/* Typewriter Effect */
	.typewriter::after {
		animation: none;
		&:before {
			content: "developer";
			animation: sequencePopup 12s linear infinite;
		}
	}
	@keyframes sequencePopup {
		0%,
		100% {
			content: "developer";
		}
		33% {
			content: "writer";
		}
		66% {
			content: "philosopher";
		}
	}
}
