// Accessibility: AAA 7:1
// Color Wheel: Triad
:root {
	--color-primary: hsl(0, 0%, 96%);
	--color-secondary: hsl(0, 0%, 4%);
	--color-link: hsl(187, 100%, 68%);
	--color-highlight: hsl(330, 100%, 83%);
	--color-surface: hsl(0, 0%, 10%);
	--color-surface-2: hsl(0, 0%, 13%);
	--color-surface-3: hsl(0, 0%, 15%);
	--color-surface-4: hsl(0, 0%, 20%);
	--color-accent: hsl(0, 0%, 30%);
	--color-overlay: hsla(0, 0%, 4%, 90%);
	/* Shadows --- ---------- ---------- ---------- */
	--shadow: hsla(0, 0%, 4%, 0.25) 0px 4px 6px -2px, hsla(0, 0%, 4%, 0.08) 0px 0px 0px 1px;
}
