:root {
	/* colors */
	--primary: hsl(0, 0%, 4%);
	--secondary: hsl(0, 0%, 100%);
	--tertiary: hsl(325, 100%, 43.75%);
	--solid: hsl(0, 0%, 100%);
	/* ----- */
	--surface: hsl(0, 0%, 100%);
	--accent: hsl(0, 0%, 90%);
	--accent-alt: hsl(0, 0%, 90%);
	/* ----- */
	--body: hsl(0, 0%, 94%);
	--bg: hsl(0, 0%, 96%);
	--bg-alt: hsl(0, 0%, 98%);
	--overlay: hsla(0, 0%, 4%, 70%);
	--overlay-alt: hsla(0, 0%, 4%, 90%);
	/* shadows ----- */
	--shadow: hsla(0, 0%, 4%, 0.25) 0px 4px 6px -2px,
		hsla(0, 0%, 4%, 0.08) 0px 0px 0px 1px;
	--shadow-hover: hsla(0, 0%, 4%, 0.25) 0px 5px 7px -2px,
		hsla(0, 0%, 4%, 0.08) 0px 0px 0px 1px;
	--pressed: hsla(0, 0%, 4%, 0.25) 0px 2px 4px -2px,
		hsla(0, 0%, 4%, 0.08) 0px 0px 0px 1px;
	/* filters ---------- */
	--filter: invert(0%) sepia(34%) saturate(2179%) hue-rotate(107deg)
		brightness(96%) contrast(92%);
	--filter-link: invert(14%) sepia(93%) saturate(7499%) hue-rotate(318deg)
		brightness(88%) contrast(101%);
	--disabled: invert(72%) sepia(47%) saturate(0%) hue-rotate(227deg)
		brightness(119%) contrast(90%);
	/* other ----- */
	--canvas: none;
	--trans: 0.5s ease;
}
