@use "../abstracts/breakpoints" as *;
@use "theme" as *;
*:focus {
	outline: 2px solid $pink;
}
html {
	scroll-behavior: smooth;
}
body {
	padding-top: 50px;
	@include media-1 {
		padding-top: 60px;
	}
}
input[type="checkbox"] {
	accent-color: $pink;
}
main {
	padding: 0 20px;
	@include media-1 {
		margin: 0 auto;
		margin-top: 20px;
		max-width: 600px;
	}
	@include media-2 {
		max-width: 800px;
	}
}
section {
	padding-top: 50px;
	@include media-1 {
		padding-top: 60px;
	}
}

canvas#snow {
	left: 0;
	height: 100%;
	pointer-events: none;
	position: fixed;
	top: 0;
	width: 100%;
}
p {
	margin-bottom: 12px;
}
