@use "../abstracts/breakpoints" as *;

html {
	line-height: 1.2;
	scroll-behavior: smooth;
}
body {
	background-color: var(--color-surface-2);
	color: var(--color-primary);
}
img {
	image-rendering: -webkit-optimize-contrast;
}
svg {
	fill: var(--color-primary);
	width: 22px;
}
.link svg {
	height: 26px;
	margin-right: 5px;
	width: 26px;
}
#portfolio {
	section {
		background-color: var(--color-surface-3);
		padding: 50px 15px;
		&:nth-of-type(2n) {
			background-color: var(--color-surface-2);
		}
	}
}
@include media-1 {
	#portfolio section {
		padding: 50px 20px;
	}
}
@include media-2 {
	#portfolio section {
		padding: 5rem 2.5rem;
	}
}
@include media-3 {
	#portfolio section {
		padding: 50px 30px;
	}
}
@include media-4 {
	#portfolio section {
		margin-left: 256px;
		padding: 20px 30px 30px;
	}
}
@include media-5 {
	#portfolio section {
		margin-right: 256px;
	}
}
@include media-6 {
	#portfolio {
		display: grid;
		height: 100vh;
		overflow: hidden;
		place-content: center;
		#site-container {
			background-color: var(--color-surface);
			border: solid 10px var(--color-surface);
			border-radius: 12px;
			box-shadow: var(--shadow);
			height: 844px; /* rounded up 843.75*/
			margin-bottom: auto;
			max-width: 1500px;
			overflow: scroll;
			overflow-x: auto;
			position: relative;
			scroll-behavior: smooth;
		}
	}
}
