/*
Winter Frost & Rosé
===================
#0A0A0A - Rich Black
#696969 - Dim Gray
#D6D6D6 - Light Gray
#FFFAFA - Snow
#EBFFFF - Azure X 11 Web Color
#FBB2C5 - Cherry Blossom Pink

/* HSL Colors */
$rich-black-fogra-39: hsla(0, 0%, 4%, 1);
$dim-gray: hsla(0, 0%, 41%, 1);
$light-gray: hsla(0, 0%, 84%, 1);
$snow: hsla(0, 100%, 99%, 1);
$azure-x-11-web-color: hsla(180, 100%, 96%, 1);
$cherry-blossom-pink: hsla(344, 90%, 84%, 1);

/* Color Scheme */
$black: $rich-black-fogra-39;
$d-gray: $dim-gray;
$l-gray: $light-gray;
$white: $snow;
$l-blue: $azure-x-11-web-color;
$pink: $cherry-blossom-pink;
