/*

Winter Frost & Rosé
===================

/* 
SCSS HEX */
$rich-black-fogra-39: #0a0a0a;
$dim-gray: #696969;
$light-gray: #d6d6d6;
$snow: #fffafa;
$azure-x-11-web-color: #ebffff;
$cherry-blossom-pink: #fbb2c5;

/* HSL Colors */
$rich-black-fogra-39: hsla(0, 0%, 4%, 1);
$dim-gray: hsla(0, 0%, 41%, 1);
$light-gray: hsla(0, 0%, 84%, 1);
$snow: hsla(0, 100%, 99%, 1);
$azure-x-11-web-color: hsla(180, 100%, 96%, 1);
$cherry-blossom-pink: hsla(344, 90%, 84%, 1);

/* Color Scheme */
$primary: $rich-black-fogra-39;
